.sectionHeder {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.Language_En{
    background-color: #ffffff;
    border: 0px;
    height: 10px;
    padding-right: 0px;
}

.userPhoto {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.PhotoUser{
    width: 40px;
    border-radius: 20px;
}

.active {
    width: 300px;
    height: 100%;
}

.yourLogoHeder h1 {
    font-family: sans-serif;
    font-size: 25px;
    color: #2A90D9;
    font-weight: 900;
    margin-bottom: -25px;
}

.heder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;

}

.yourLogoHeder span {
    color: palevioletred;
    font-weight: 900;
}

.yourLogoHeder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    width: 100%;

}

.yourLogoHeder ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -30px;
}

.yourLogoHeder ul a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.imgHeder {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgHeder p {
    position: absolute;
    top: 26px;
    right: 21px;
}

.dolalrsHeder {
    width: 12px;
    height: 24px;
    margin-top: 45px;
}

.languageHeder {
    width: 27px;
    height: 24px;
}

.userPhotoHeder {
    width: 32px;
    height: 32px;
}

.btn_Menu {
    display: none;
}

.meregi_Btn {
    display: none;
}

.mobile_btn {
    display: none;
}

.autorizedDiv button {
    border: 0;
    background: #ffffff;
}

.buttonExit{
    background: #000000;
    border: 0;
    width: 100%;
    border-radius: 3px;
    color: #ffffff;
}

.ant-select-arrow {
    display: none;
}

.autorizedDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 930px) {
    .yourLogoHeder {
        margin-right: 50px;
    }
}

@media (max-width: 800px) {

    .sectionHeder {
        padding-bottom: 30px;
    }

    .yourLogoHeder h1 {
        margin-bottom: 0px;
        margin-top: -30px;
    }

    .imgHeder img {
        right: 40px;
    }

    .mobile_btn {
        display: block;
        position: absolute;
        left: 40px;
        top: 10px;
        cursor: pointer;
    }

    .menu {
        z-index: 1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -120%;
        right: 0;
        transition: left 1s;
    }

    .yourLogoHeder ul {
        flex-direction: column;
        height: 100vh;
        background: #ffffff;
        justify-content: flex-start;
        margin-top: 49px;
        padding-left: 45px;
        overflow: auto;
    }


    .meregi_Btn {
        display: block;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        color: #2A90D9;
    }

    .btn_Menu {
        display: block;
        margin-top: 40px
    }

    .btn_Menu svg {
        color: #EE685F;
        margin-right: 10px;
    }

    .active {
        left: 0;
    }

    .yourLogoHeder a {
        padding-top: 30px;
    }

    .yourLogoHeder {
        padding-top: 5px;
        padding-left: 60px;
    }

    .userPhotoHeder {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .yourLogoHeder {
        margin: 0;
    }

    .dolalrsHeder {
        display: none;
    }

    .languageHeder {
        display: none;
    }
}

@media (max-width: 530px) {
    .yourLogoHeder {
        margin-left: 0px;
        padding-left: 40px;
    }

    .yourLogoHeder h1 {
        margin-bottom: 0px;
        margin-top: -50px;
    }

    .imgHeder {
        position: relative;
        right: 15px;
    }

    .sectionHeder {
        padding-bottom: 25px;
    }

    .yourLogoHeder ul {
        padding-left: 20px;
    }

    .mobile_btn {
        top: 5px;
        left: 5px;
    }

    .heder {
        position: fixed;
        z-index: 11;
        background-color: #ffffff;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }

    .userPhotoHeder {
        right: 20px;
        top: 5px;
    }
}